/* цвет основного текста #212121  */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* синий лого, акцент #2196F3 */
/* черный лого #000000 */
/* шрифт для лого font-family: 'Raleway', sans-serif; */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-bg-color: #ffffff;
  --black-logo-color: #000000;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

/* nav-logo */
.nav-logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
}
.studio {
  color: var(--black-logo-color);
}
/* nav-links */

.nav-links .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--accent-color);
}
.nav-links .link.current {
  color: var(--accent-color);
}

.sait-contacts .link {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.sait-contacts .link:hover,
.sait-contacts .link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--white-color);
}
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/* Section */
.section-title {
}
/* Преимущества */
.feature-list .text {
  color: var(--secondary-text-color);
}
/* Чем занимаемся */

/* Команда */
.command-list .text {
  color: var(--secondary-text-color);
}

/* Footer */
.footer {
  background-color: rgba(47, 48, 58, 1);
}
/* Логотип */
.studio-white {
  color: var(--white-color);
}
.address {
  color: var(--white-color);
}
.address-list .link {
  color: var(--secondary-white-color);
  text-decoration: none;
}
/* фильтр портфолио */
.button-list .button {
  background-color: #f5f4fa;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}
.title-list .type {
  color: var(--secondary-text-color);
}
