/* цвет основного текста #212121  */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* синий лого, акцент #2196F3 */
/* черный лого #000000 */
/* шрифт для лого font-family: 'Raleway', sans-serif; */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-bg-color: #ffffff;
  --black-logo-color: #000000;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}

/* nav-logo */
.nav-logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.web {
  color: var(--accent-color);
}
.studio {
  color: var(--black-logo-color);
}
/* nav-links */

.nav-links .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--accent-color);
}
.nav-links .link.current {
  color: var(--accent-color);
}

.sait-contacts .link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.sait-contacts .link:hover,
.sait-contacts .link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* Section */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* Преимущества */
.feature-list .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/* Чем занимаемся */

/* Команда */
.comand-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.command-list .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* Footer */
.footer {
  background-color: rgba(47, 48, 58, 1);
}
/* Логотип */
.studio-white {
  color: var(--white-color);
}
.address {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address-list .link {
  color: var(--secondary-white-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

/* фильтр портфолио */
.button-list .button {
  background-color: #f5f4fa;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}
.button-list .button:hover,
.button-list .button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* примеры работ */
.title-list .type {
  color: var(--secondary-text-color);
}
